.bymode-toggle-container {
    position: relative;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-top: 15px;
}

.bymode-info-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4px;
    position: absolute;
    z-index: 101;
    right: -10px;
    top: -10px;
}

.mantine-Popover-dropdown {
    z-index: 101 !important;
}