.datepicker-container {
    position: relative;
    margin-top: 15px;
    z-index: 105;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.datepicker-container .mantine-DatePickerInput-required {
    opacity: 0;
}

:where([data-weekend]) {
    color: #000 !important;
}