.colorbar-container {
    position: absolute;
    bottom: 30px;
    right: 10px;
    z-index: 10;
}

.colorbar-legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    background: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 180px;
    font-size: 12px;
}

.colorbar {
    display: flex;
    width: 100%;
    height: 14px;
    margin-bottom: 4px;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
}

.color-segment {
    flex: 1;
}


.labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.legend-description {
    padding-bottom: 5px;
}