.map-container {
    height: 100vh;

    position: relative;
}

.leaflet-container {
    height: 100%;
    width: 100%;
    position: relative;
}

.leaflet-control-zoom {
    top: 40px;
    left: 70px;
}

.leaflet-draw.leaflet-control {
    top: 100px;
    left: 70px;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border: none;
    background-clip: padding-box;
}

@media (max-width: 768px) {
    .leaflet-control-zoom {
        top: 90px;
    }

    .leaflet-draw.leaflet-control {
        top: 100px;
    }
}