.map-container {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.leaflet-container {
    height: 100%;
    width: 100%;
    position: relative;
}

.leaflet-div-icon.leaflet-editing-icon {
    width: 8px !important;
    height: 8px !important;
    margin-left: -4px !important;
    margin-top: -4px !important;
    border-radius: 2px;
    border: 1px solid #333;
    background-color: #fff;
}