.map-container {
    height: 100vh;
    position: relative;
}

.leaflet-container {
    height: 100%;
    width: 100%;
    position: relative;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border: none;
    background-clip: padding-box;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
    top: 40px;
    left: 0;
}


.leaflet-bar.leaflet-control.leaflet-tooltip-button {
    position: absolute;
    top: 110px;
    left: 0;
    z-index: 101;
}

.leaflet-draw.leaflet-control {
    position: absolute;
    top: 150px;
    left: 0;
}


.leaflet-bar.leaflet-control.leaflet-reset-button {
    position: absolute;
    top: 220px;
    left: 0;
    z-index: 101;
}

.chart-swiper-button {
    position: absolute;
    top: 270px;
    left: 10px;
    z-index: 1001;
}

.leaflet-bar.leaflet-control.leaflet-download-button {
    position: absolute;
    top: 300px;
    left: 0;
    z-index: 101;
}


@media (max-width: 768px) {
    .leaflet-control-zoom.leaflet-bar.leaflet-control {
        top: 90px;
    }

    .leaflet-bar.leaflet-control.leaflet-tooltip-button {
        top: 160px;
    }

    .leaflet-draw.leaflet-control {
        top: 200px;
    }

    .leaflet-bar.leaflet-control.leaflet-reset-button {
        top: 270px;
    }

    .chart-swiper-button {
        top: 265px;
    }

    .leaflet-bar.leaflet-control.leaflet-download-button {
        top: 350px;
    }



}