.nav-link {
  color: white;
}

.nav-link:focus,
.nav-link:hover,
.navActive {
  color: var(--color-logo-darker-blue) !important;

}

.navbar {
  background-color: var(--color-random3) !important
}

.noStyleButton {
  all: unset;
  display: inline;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
}