:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-logo-orange: rgb(244, 118, 36);
  --color-logo-red: rgb(220, 60, 42);
  --color-logo-darker-blue: rgb(14, 27, 35);
  --color-logo-dark-blue: rgb(19, 43, 61);
  --color-logo-lighter-blue: rgb(24, 52, 73);

  --color-dark-red: rgb(236, 104, 89);
  --color-brick-red: rgb(208, 0, 0);
  --color-brick-orange: rgb(232, 93, 4);
  --color-orange2: rgb(244, 140, 6);

  --color-random: rgb(93, 145, 179);
  --color-random2: rgb(141, 165, 146);
  --color-random3: rgb(148, 79, 45);
  --color-random4: rgb(169, 186, 196);
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

body {
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {}
}